<div class="justify-content-center p-0 m-0 outer-nav">
    <ul class="nav nav-tabs nav-fill d-none d-xl-flex main-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">STUDY WITH US</a>
            <div class="dropdown-menu">
                <div class="row dropdown-item">
                    <div class="col-12">
                        <section>
                            <h2>Undergraduate study</h2>
                            <ul>
                                <li><a href="/study/undergraduate/2017">2017 courses</a></li>
                                <li><a href="/study/undergraduate/2016">2016 courses</a></li>
                                <li><a href="/study/undergraduate/fees-and-scholarships">Fees and scholarships</a></li>
                                <li><a href="/study/undergraduate/apply">How to apply</a></li>
                                <li><a href="/study/register/ug">Register your interest</a></li>
                                <li><a class="show-on-focus" href="#study-with-us">Back to nav headings</a></li>
                            </ul>
                        </section>
                        <section>
                            <h2>Foundation years</a>
                            <ul>
                                <li><a href="/study/foundation/2017">2017 entry</a></li>
                                <li><a href="/study/foundation/2016">2016 entry</a></li>
                                <li><a class="show-on-focus" href="#study-with-us">Back to nav headings</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown main-nav">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">STUDY
                WITH US</a>
            <div class="dropdown-menu w-100">
                <div class="row dropdown-item">
                    <div class="col-12">
                        <section>
                            <h2>Undergraduate study</h2>
                            <ul>
                                <li><a href="/study/undergraduate/2017">2017 courses</a></li>
                                <li><a href="/study/undergraduate/2016">2016 courses</a></li>
                                <li><a href="/study/undergraduate/fees-and-scholarships">Fees and scholarships</a></li>
                                <li><a href="/study/undergraduate/apply">How to apply</a></li>
                                <li><a href="/study/register/ug">Register your interest</a></li>
                                <li><a class="show-on-focus" href="#study-with-us">Back to nav headings</a></li>
                            </ul>
                        </section>
                        <section>
                            <h2>Foundation years</a>
                                <ul>
                                    <li><a href="/study/foundation/2017">2017 entry</a></li>
                                    <li><a href="/study/foundation/2016">2016 entry</a></li>
                                    <li><a class="show-on-focus" href="#study-with-us">Back to nav headings</a></li>
                                </ul>
                        </section>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- 
<div class="main-nav">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>
-->
<!--
<div class="justify-content-center p-0 m-0 outer-nav">
        <div class="main-nav">
                <ul class="nav nav-tabs nav-fill d-none d-xl-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="#">STUDY WITH US</a>
                    </li>
                    <li class="nav-item dropdown position-static">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">DROPDOWN</a>
                        <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEWS & EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">INTERNATIONAL</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">RESEARCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BUSINESS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ALUMNI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SEARCH</a>
                    </li>
                </ul>
        </div>
</div>
-->