   <div class="justify-content-center">
       <div class="p-0">
            <div class="p-0 top-nav-section">
                <nav class="navbar navbar-expand-lg p-0 d-none d-lg-flex">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link sr-only sr-only-focusable mb-0 pb-0" href="#">SKIP TO CONTENT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sr-only sr-only-focusable mb-0 pb-0" href="#">EMAIL DIGITAL TEAM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ACCESSIBILITY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link vertical-line" href="#">STAFF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link vertical-line" href="#">CURRENT STUDENTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link vertical-line" href="#">ALUMNI</a>
                            </li>
                        </ul>
                </nav>
                <section class="text-center">
                    <h1><a title="Logo" href="https://www.sussex.ac.uk" tabindex="-1"><img class="header-logo"
                                src=" /img/icons/logo.svg" alt="University of Sussex logo"></a></h1>
                </section>
            </div>
       </div>
   </div> 
    

